@import url(http://fonts.googleapis.com/css?family=Slabo+27px);
@import url(http://fonts.googleapis.com/css?family=Play);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Sintony);
@keyframes affixFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes affixFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background: #F1F3FA;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Sintony', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 20px 30px;
}

.header {
    width: 100%;
    height: 120px;
    background-color: #3498DB;
    color: white;
    margin: 0px;
    padding-top: 5px;
}

.navbar-brand {
    float: none;
    height: 80px;
    padding: none;
    font-size: 18px;
    line-height: 20px;
}

.header>div>h2>a, .header>div>h2>a:hover {
    text-decoration: none;
    color: white;
}

.if-logo {
    color: #D0E1FF;
    font-weight: bold;
    font-family: 'Slabo 27px', serif;
}

.pictures-logo {
    color: #3861AA;
    font-weight: bold;
    font-family: 'Play', sans-serif;
}

.navbar-default {
    background-color: #2ECC71;
    border: #2ECC71;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #34495E;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background-color: #27AE60;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    text-align: center;
}

.fa-2x {
    font-size: 2em;
    color: white;
}

#nav.affix {
    position: fixed;
    top: 0;
    z-index: 1030;
    width: 100%;
    animation: affixFadeIn 0.9s ease-in;
    -webkit-animation: affixFadeIn 0.9s;
}

header {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    margin-top: -20px;
    background-image: url(../img/layout/bg/bg.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h2 {
    margin-top: 10%;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: #3861AA;
}

header .header-content .panel-body {
    color: #3861AA;
    padding-left: 0px;
    padding-right: 0px;
}

header .header-content .callout {
    margin-left: -2px;
    margin-right: -1px;
    border-top: none;
    border-bottom: none;
    border-right: none;
    background-color: #E6E6E6;
}

.spacer-callout {
    margin-right: 25px;
    margin-left: 25px;
}

.spacer-callout p {
    color: gray;
}

@media (min-width: 768px) {
    header {
        min-height: 100%;
    }
    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }
    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
    .navbar-nav>li>a {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .button-upload {
        margin-left: 50px;
    }
}

section {
    padding: 30px 0;
}

.section-1 {
    background: url(../img/layout/bg/bg-1.jpg) center center fixed;
}

.divider {
    background: #E5E5E5;
    position: relative;
    margin-top: -1px;
    margin-bottom: 0px;
}

.divider .box {
    width: 24px;
    height: 24px;
    position: absolute;
    bottom: -42px;
    left: 50%;
    background: #FFF;
    border: 1px solid #E5E5E5;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-left: -12px;
    text-align: center;
    line-height: 24px;
    padding-left: 1px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.divider .box .fa {
    font-size: 13px;
    color: #D5D5D5;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.section-2 {
    background-color: #475268;
    color: white;
}

.section-1 img {
    display: inline-block;
    margin: 0 5px
}

hr.primary {
    border-top: 2px solid #3498DB;
    width: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
}

hr.secondary {
    border-top: 2px solid #f33;
    width: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.hover-size {
    -webkit-transition: font-size .25s ease;
    -moz-transition: font-size .25s ease;
    -o-transition: font-size .25s ease;
    -ms-transition: font-size .25s ease;
    transition: font-size .25s ease;
}

.section-heading {
    color: #3498DB;
}

.service-box {
    background-color: #3498DB;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.service-box:hover {
    background-color: #3A4356;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.service-box:hover i {
    font-size: 5.5em;
}

/* Carousel */

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
}

#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}

#quote-carousel .carousel-control.left {
    left: -60px;
}

#quote-carousel .carousel-control.right {
    right: -60px;
}

#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}

#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    border: 4px solid #CCC;
    border-radius: 30px;
    opacity: 0.4;
    overflow: hidden;
    transition: all 0.4s;
}

#quote-carousel .carousel-indicators .active {
    background: #333333;
    width: 128px;
    height: 128px;
    border-color: #f33;
    opacity: 1;
    overflow: hidden;
}

.carousel-inner {
    min-height: 300px;
}

.item blockquote {
    border-left: none;
    margin: 0;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

.section-4 {
    background-color: #353D4E;
    color: #9B9B9B;
}

.spacer-bottom {
    padding-bottom: 14px;
}

.justify {
    text-align: justify;
}

.box-links>li {
    margin-left: 30px;
    list-style: none;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
}

.box-links>li a {
    color: white;
    text-decoration: none;
}

.box-links>li>a:hover {
    color: #2ECC71;
}

footer {
    padding: 20px;
    width: 100%;
    position: relative;
    background-color: #475268;
    color: white;
}

/*
    Checkbox, radio and toggles
*/

.radio-inline, .checkbox-inline {
    padding: 0;
}

label.custom-option {
    position: relative;
    display: inline-block;
    padding: 0;
    height: 20px;
    vertical-align: top;
}

label.custom-option + label {
    padding: 0 10px;
}

label.custom-option input[type="checkbox"], label.custom-option input[type="radio"], label.custom-option .button-checkbox, label.custom-option .button-radio {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

label.custom-option input[type="checkbox"], label.custom-option input[type="radio"] {
    margin: 0;
    opacity: 0;
}

label.custom-option .button-checkbox, label.custom-option .button-radio {
    border: 1px solid #ccc;
    background: #fff;
}

label.custom-option input[type="checkbox"]:checked + .button-checkbox, label.custom-option input[type="radio"]:checked+ .button-radio {
    border-color: #4fd0fb;
}

label.custom-option input[type="checkbox"] + .button-checkbox:after, label.custom-option input[type="radio"] + .button-radio:after {
    position: absolute;
    content: '';
    z-index: 2;
}

label.custom-option .button-radio, label.custom-option .button-radio:after {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}


/* Checkbox and radio */

label.custom-option {
    width: 20px;
}

label.custom-option.button input[type="checkbox"] + .button-checkbox:after, label.custom-option.button input[type="radio"] + .button-radio:after {
    display: none;
    top: 5px;
    bottom: 5px;
    left: 5px;
    width: 8px;
    background: #4fd0fb;
}

label.custom-option.button input[type="checkbox"]:checked + .button-checkbox:after, label.custom-option.button input[type="radio"]:checked + .button-radio:after {
    display: block;
}

#wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
    height: 100%
}

#sidebar-wrapper {
    margin-left: -150px;
    left: 70px;
    width: 150px;
    background: #222;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
}

#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}

#wrapper.active {
    padding-left: 150px;
}

#wrapper.active #sidebar-wrapper {
    left: 150px;
}

#page-content-wrapper {
    width: 100%;
}

#sidebar_menu li a, .sidebar-nav li a {
    color: #999;
    display: block;
    float: left;
    text-decoration: none;
    width: 150px;
    background: #252525;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #1A1A1A;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}

.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}

.sidebar-nav li {
    line-height: 40px;
    text-indent: 20px;
}

.sidebar-nav li a {
    color: #999999;
    display: block;
    text-decoration: none;
}

.sidebar-nav li a:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    text-decoration: none;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    line-height: 60px;
    font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#main_icon {
    float: right;
    padding-right: 30px;
    padding-top: 20px;
}

.sub_icon {
    float: right;
    padding-right: 30px;
    padding-top: 10px;
}

.content-header {
    height: 65px;
    line-height: 65px;
}

.content-header h1 {
    margin: 0;
    margin-left: 20px;
    line-height: 65px;
    display: inline-block;
}

@media (max-width:767px) {
    #wrapper {
        padding-left: 70px;
        transition: all .4s ease 0s;
    }
    #sidebar-wrapper {
        left: 70px;
    }
    #wrapper.active {
        padding-left: 150px;
    }
    #wrapper.active #sidebar-wrapper {
        left: 150px;
        width: 150px;
        transition: all .4s ease 0s;
    }
    .button-upload {
        margin-left: 10px;
    }
}

.navbar-panel {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 10px;
}


/*Scrollbar navegador*/

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}


/*Seleção navegador*/

::selection {
    background: #A4FFD1;
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #A4FFD1;
    /* Gecko Browsers */
}


/*CSS perfil*/

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: white;
    background-color: #27AE60;
}

#nav-panel.affix {
    position: fixed;
    top: 0;
    z-index: 1030;
    width: 90%;
    animation: affixFadeIn 0.9s ease-in;
    -webkit-animation: affixFadeIn 0.9s;
}

.profile-name {
    color: white;
    font-weight: bold;
}

#user-picture.active {
    display: none;
}

#footer-panel {
    padding: 10px;
    width: 100%;
    background-color: #F1F3FA;
    color: gray;
}

.warning-input {
    outline: none;
    border-color: #FF0000;
    box-shadow: 0 0 5px #FF0000;
}

.upload-search {
    margin-top: 16px;
}

.sort-image {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: -10px;
    padding-top: 10px;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
}

.sort-image ul {
    list-style: none;
    margin-right: 65px;
    color: gray;
}

.sort-image ul>li:hover {
    color: #000000;
    font-weight: bold;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#upload-status {
    margin-left: -15px;
    margin-right: -15px;
}

.spinner-wave {
    margin: 0 auto;
    width: 100px;
    height: 50px;
    text-align: center;
}

.spinner-wave > div {
    background-color: #2ECC71;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: wave 1.2s infinite ease-in-out;
    animation: wave 1.2s infinite ease-in-out;
}

.spinner-wave div:nth-child(2) {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner-wave div:nth-child(3) {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner-wave div:nth-child(4) {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner-wave div:nth-child(5) {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes wave {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes wave {
    0%, 40%, 100% {
        transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
    }
}

#loading{
    display: none;
    position: fixed;
    left:50%;
    top:50%;
    bottom: 10%;
    top: 90%;
    z-index: 9999;
}

.upload-container{
    padding: 20px;
    margin-left: -15px;
    margin-right: -15px;
<<<<<<< HEAD
    background-color: #C0C0C0;
=======
}

.form-control-feedback {
    position: absolute;
    right: 18px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
>>>>>>> origin/registro
}